{{/* Standard header, expected to be used at the start of any page. */}}
{{define "header" -}}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="applicaton-name" content="Gredelston Dot Cool">
		<meta name="description" content="My personal website">
		<meta name="author" content="Greg Edelston">
		<meta name="keywords" content="software,developer
			{{- range .Keywords -}}
				,{{.}}
			{{- end -}}
		">

		<link rel="stylesheet" href="/css/universal.css">
		{{range .ExtraStylesheets -}}
		<link rel="stylesheet" href={{.}}>
		{{- end}}

		<title>
			{{- if .Title -}}
				{{.Title}}
			{{- else -}}
				Gredelston Dot Cool
			{{- end -}}
		</title>

		{{template "navbar"}}
	</head>
	<body>{{/* Corresponding </body> tag can be found in footer.html. */}}
{{- end}}
